@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: #ffe7e1;
}

.navbar a[href="#logo"] img {
  width: 150px;
  height: 150px;
  top: 5px;
  gap: 0px;
  border: 1px 0px 0px 0px;
  opacity: 0px;
}

.logo-link {
  margin-right: 50px;
  /* Adjust the value as needed */
}

.navbar {
  background: #ffe7e1;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  height: 86px;
  overflow: hidden;
}

.navbar a {
  float: left;
  display: block;
  color: #ff634d;
  text-shadow: 0.05em 0.05em 0.05em rgba(0, 0, 0, 0.5);
  text-align: center;
  padding: 14px 20px;
  text-decoration: none;
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  /* Adjust the font weight as needed */
  font-size: 22px;
  letter-spacing: 0.7px;
}

.navbar a.right {
  float: right;
  /* Aligns links to the right */
}

.search {
  --padding: 5px;
  width: 261px;
  display: flex;
  align-items: center;
  padding: var(--padding);
  border-radius: 10px;
  background: white;
  height: 30px;
  top: 15px;
  gap: 0px;
  margin-right: auto;
  /* Move the search bar to the right */
}

.search-input {
  font-size: 11px;
  font-family: "Poppins", sans-serif;
  color: #333;
  margin-right: auto;
  /* Align the input field to the left side */
  outline: none;
  border: none;
  background: transparent;
  width: 100%;
  /* Adjust width as needed */
}

.search-input::placeholder {
  color: black;
  /* Placeholder color */
}

.nav_link {
  list-style-type: none;
  margin-left: auto;
}

.nav_link li {
  display: inline-block;
}

.nav_link li a {
  padding: 5px 5px;
  /* Adjust padding as needed */
  margin-right: 2px;
  /* Decrease the margin between links */
}

.right.button {
  margin-left: 5px;
  /* Adjust margin between li and button */
  display: inline-block;
  margin-right: 51px;
}

.explore-button {
  color: white;
  background: linear-gradient(135deg, #fccf31 0%, #f55555 100%);
  width: 145px;
  height: 51px;
  top: 12px;
  left: 1200px;
  gap: 0px;
  border-radius: 8px;
  border-color: transparent;
}

.explore-button1 {
  color: white;
  background: linear-gradient(135deg, #43cbff 0%, #9708cc 100%);
  width: 76px;
  height: 51px;
  top: 12px;
  left: 1500px;
  gap: 0px;
  border-radius: 8px;
  border: none;
}

.right.button img {
  vertical-align: middle;
  width: 25px;
  height: auto;
}

img[src="logo/search1.png"] {
  width: 50px;
  height: 35px;
}

/* new */

.navbar-new input[type="checkbox"],
.navbar-new .hamburger-lines {
  display: none;
}

.container {
  max-width: 1200px;
  width: 90%;
  margin: auto;
}

.navbar-new {
  position: fixed;
  width: 100%;
  background: #ffe7e1;
  color: #000;
  opacity: 0.85;
  z-index: 100;
  padding: 14px 0;
}

.navbar-container {
  display: flex;
  justify-content: space-between;
  height: 64px;
  align-items: center;
}

.menu-items {
  order: 2;
  display: flex;
  align-items: center;
}

.logo {
  order: 1;
  font-size: 2.3rem;
}

.menu-items li {
  list-style: none;
  margin-left: 1.5rem;
  font-size: 1.3rem;
  display: flex;
  align-items: center;
  gap: 6px;
}

.navbar-new a {
  color: #ff634d;
  text-shadow: 0.05em 0.05em 0.05em rgba(0, 0, 0, 0.5);
  text-decoration: none;
  font-weight: 700;
  transition: color 0.3s ease-in-out;
  letter-spacing: 0.7px;
}

li .search,
li .logo-link {
  display: none;
}

.logo-link-mobile {
  display: none;
}
.mobileview-button {
  display: none;
}

/* media query for Navbar */

@media (max-width: 426px) {
  .navbar {
    opacity: 0.95;
  }

  .navbar-container input[type="checkbox"],
  .navbar-container .hamburger-lines {
    display: block;
  }

  .navbar-container {
    display: block;
    position: relative;
    height: 64px;
  }

  .navbar-container input[type="checkbox"] {
    position: absolute;
    display: block;
    height: 32px;
    width: 30px;
    top: 20px;
    right: 50px;
    z-index: 5;
    opacity: 0;
    cursor: pointer;
  }

  .navbar-container .hamburger-lines {
    display: block;
    height: 28px;
    width: 35px;
    position: absolute;
    top: 20px;
    right: 50px;
    z-index: 2;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .navbar-container .hamburger-lines .line {
    display: block;
    height: 4px;
    width: 100%;
    border-radius: 10px;
    background: #333;
  }

  .navbar-container .hamburger-lines .line1 {
    transform-origin: 0% 0%;
    transition: transform 0.3s ease-in-out;
  }

  .navbar-container .hamburger-lines .line2 {
    transition: transform 0.2s ease-in-out;
  }

  .navbar-container .hamburger-lines .line3 {
    transform-origin: 0% 100%;
    transition: transform 0.3s ease-in-out;
  }

  .navbar-new .menu-items {
    padding-top: 100px;
    background: #fff;
    height: 150vh;
    max-width: 300px;
    transform: translate(180%);
    display: flex;
    flex-direction: column;
    margin-right: -40px;
    transition: transform 0.5s ease-in-out;
    box-shadow: 5px 0px 10px 0px #aaa;
    overflow: scroll;
    position: relative;
    align-items: center;
    top: 25px;
    left: 765px;
  }

  .navbar-new .menu-items li {
    margin-bottom: 1.8rem;
    font-size: 1.1rem;
    font-weight: 500;
  }

  .logo {
    position: absolute;
    top: 10px;
    right: 15px;
    font-size: 2.5rem;
  }

  .navbar-container input[type="checkbox"]:checked ~ .menu-items {
    transform: translateX(0);
  }

  .navbar-container input[type="checkbox"]:checked ~ .hamburger-lines .line1 {
    transform: rotate(45deg);
  }

  .navbar-container input[type="checkbox"]:checked ~ .hamburger-lines .line2 {
    transform: scaleY(0);
  }

  .navbar-container input[type="checkbox"]:checked ~ .hamburger-lines .line3 {
    transform: rotate(-45deg);
  }

  .search {
    display: none;
  }

  .logo-img-mobileview {
    position: absolute;
    right: 1025px;
    top: 30px;
  }

  .logo-img {
    display: none;
  }

  li .search {
    display: flex;
    border: 1px solid black;
  }

  li .search-input::placeholder {
    color: #000;
  }

  li .logo-link {
    display: block;
    position: absolute;
    top: 4px;
  }

  .logo-mobile {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .mobile-view {
    position: relative;
  }

  .logo-link-mobile {
    display: block;
    position: absolute;
    top: -40px;
    right: 10px;
  }
}

/* Navbar media query ends  */

/* --------------------------------navbar ends---------------------------------- */

/* banner */

.banner-img {
  top: 125px;
  left: 167px;
  position: absolute;
}
.landingbanner-img {
  top: 125px;
  position: absolute;
  left: 230px;
}
.whitebanner {
  position: absolute;
  width: 665px;
  height: 745px;
  top: 125px;
  left: 167px;
  gap: 0px;
  opacity: 0px;
}
.wing-img {
  position: absolute;
  width: 234px;
  height: 234px !important;
  top: 101px;
  left: 88px;
  gap: 0px;
  opacity: 0px;
}

.banner-heading {
  font-family: Poppins;
  font-size: 36px;
  font-weight: 700;
  line-height: 54px;
  letter-spacing: 0.03em;
  text-align: center;
  position: absolute;
  width: 525px;
  height: 162px;
  top: 271px;
  left: 205px;
  gap: 0px;
  opacity: 0px;
}
.langingbanner-heading {
  position: absolute;
  width: 328px;
  height: 144px;
  top: 339px;
  left: 260px;
  gap: 0px;
  opacity: 0px;
}

.banner-para {
  font-family: Poppins;
  font-size: 23px;
  font-weight: 700;
  line-height: 34.5px;
  letter-spacing: 0.05em;
  position: absolute;
  text-align: left;
  width: 478px;
  height: 210px;
  top: 470px;
  left: 205px;
  gap: 0px;
  opacity: 0px;
}
.langingbanner-para {
  position: absolute;
  width: 478px;
  height: 140px;
  top: 529px;
  left: 206px;
  gap: 0px;
  opacity: 0px;
  font-family: Poppins;
  font-size: 23px;
  font-weight: 500;
  line-height: 34.5px;
  letter-spacing: 0.05em;
  text-align: center;
}

.vector-img {
  width: 564px;
  height: 485px;
  top: 240px;
  left: 710px;
  gap: 0px;
  opacity: 0px;
  position: absolute;
}
.landingvector-img {
  width: 564px;
  height: 485px;
  top: 240px;
  left: 800px;
  gap: 0px;
  opacity: 0px;
  position: absolute;
}

.calender-img {
  width: 652px;
  height: 435px;
  top: 246px;
  left: 690px;
  gap: 0px;
  opacity: 0px;
  position: absolute;
}
.landingcalender-img {
  width: 652px;
  height: 435px;
  top: 246px;
  left: 760px;
  gap: 0px;
  opacity: 0px;
  position: absolute;
}

/* .circle-1{
  width: 313px;
height: 313px;
top: 2px;
left: 1045px;
gap: 0px;
border: 24px 0px 0px 0px;
opacity: 0px;
position: absolute;
transform: rotate(1deg);

}
.circle-2{
  width: 313px;
height: 313px;
top: 91px;
left: 1192px;
gap: 0px;
border: 24px 0px 0px 0px;
opacity: 0px;
position: absolute;

}

.circle-3{
  width: 313px;
height: 313px;
top: 428px;
left: -287px;
gap: 0px;
border: 24px 0px 0px 0px;
opacity: 0px;
position: absolute;
transform: rotate(163deg);

}
.circle-4{
  width: 313px;
height: 313px;
top: 494px;
left: -212px;
gap: 0px;
border: 24px 0px 0px 0px;
opacity: 0px;
position: absolute;

}
.circle-5{
  width: 313px;
height: 313px;
top: 2172px;
left: 1250px;
gap: 0px;
border: 24px 0px 0px 0px;
opacity: 0px;
position: absolute;
} */

/* explore more page  */

.swiper-container {
  width: 100%;
  height: auto;
  overflow: hidden;
}

.swiper-slide {
  display: flex;
  justify-content: space-between;
}

.image-wrapper {
  flex: 0 0 calc(33.33% - 20px);
  margin: 0 10px;
  position: relative;
  overflow: hidden;
}

.image-wrapper img {
  width: 100%;
  height: auto;
  transition: opacity 0.3s ease;
}

.image-wrapper:hover img {
  opacity: 0.8;
}

.image-caption {
  position: absolute;
  bottom: 250px;
  left: 0;
  right: 0;
  /* background-color: rgba(0, 0, 0, 0.5); */
  color: #fff;
  padding: 10px;
  text-align: center;
  opacity: 0;
  transition: opacity 0.3s ease;
}

.image-wrapper:hover .image-caption {
  opacity: 1;
}

.image-caption-left,
.image-caption-right {
  position: absolute;
  bottom: 178px;
  padding: 5px 10px;
  color: #fff;
  /* background-color: rgba(0, 0, 0, 0.7); */
}

.image-caption-BelowDate {
  position: absolute;
  bottom: 200px;
  padding: 5px 10px;
  color: #fff;
}

.image-caption-left {
  left: 0;
}

.image-caption-right {
  right: 5px;
}

.view-button {
  position: absolute;
  bottom: 10px;
  right: 10px;
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
}

/* Navigation buttons */
.swiper-button-next,
.swiper-button-prev {
  /* background-color: rgba(0, 0, 0, 0.5); */
  color: #fff;
  border: none;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 10;
  cursor: pointer;
  display: none;
}

.swiper-button-next {
  right: 10px;
}

.swiper-button-prev {
  left: 10px;
}

.carousel-own {
  padding: 50px;
}

/* explore more page ends  */

/* trending banner  */

.trending-banner {
  width: 1440px;
  height: 494px;
  top: 1635px;
  left: 40px;
  gap: 0px;
  opacity: 0px;
  position: absolute;
}

.trending-town {
  display: flex;
  width: 343px;
  height: 717px;
  top: 1879px;
  left: 190px;
  gap: 20px;
  opacity: 0px;
  position: absolute;
}

.trending-heading {
  font-family: Poppins;
  font-size: 40px;
  font-weight: 800;
  line-height: 60px;
  letter-spacing: 0.1em;
  text-align: center;
  position: absolute;
  color: #fccf31;
  top: 33px;
  left: 160px;
}

.trending-span {
  left: 6px;
  position: absolute;
  width: 500px;
}

.trending-location {
  width: 58px;
  height: 73.64px;
  top: 85px;
  left: 545px;
  gap: 0px;
  opacity: 0px;
  position: absolute;
}

.music-details {
  font-family: Roboto Mono;
  font-size: 48px;
  font-weight: 700;
  line-height: 63.3px;
  letter-spacing: 0.05em;
  text-align: left;
  color: #ffffff;
  position: absolute;
  top: 23px;
  left: 950px;
}

.music-button {
  background: #ffd39a;
  width: 249px;
  height: 54px;
  top: 144px;
  left: 987px;
  gap: 0px;
  border-radius: 10px;
  border: 1px 0px 0px 0px;
  opacity: 0px;
  position: absolute;

  font-family: Sunflower;
  font-size: 20px;
  font-weight: 900;
  line-height: 25px;
  letter-spacing: 0.05em;
  text-align: center;
  text-decoration: none;
  border: 1px solid #27262a;
}

.why-banner {
  width: 1440px;
  height: 797px;
  top: 4012px;
  left: 40px;
  gap: 0px;
  opacity: 0px;
  position: absolute;
}

.why {
  width: 582px;
  height: 582px;
  top: 4146px;
  left: 93px;
  gap: 0px;
  opacity: 0px;
  position: absolute;
}

.why-heading {
  font-family: Poppins;
  font-size: 60px;
  font-weight: 700;
  line-height: 90px;
  letter-spacing: 0.05em;
  text-align: center;
  position: absolute;
  top: 4048px;
  left: 834px;
  color: #ffffff;
}

.why-para {
  font-family: Roboto Mono;
  font-size: 32px;
  font-weight: 700;
  line-height: 72px;
  letter-spacing: 0.05em;
  text-align: left;

  width: 400px;
  height: 32px;
  top: 4174px;
  left: 892px;
  gap: 0px;
  opacity: 0px;
  position: absolute;
  color: #fccf31;
}

.why-dot {
  width: 24px;
  height: 24px;
  top: 4196px;
  left: 836px;
  gap: 0px;
  opacity: 0px;
  position: absolute;
  line-height: 72px;
}

.why-line {
  width: 24px;
  height: 24px;
  top: 4222px;
  left: 847px;
  gap: 0px;
  opacity: 0px;
  position: absolute;
  line-height: 72px;
}

/* our featured category */

/* our featured category */
.cat-container {
  position: absolute;
  left: 45px;
  top: 20px;
}

.cat-title {
  position: absolute;
  width: 911px;
  height: 90px;
  top: 2720px;
  left: 270px;
  gap: 0px;
  opacity: 0px;
}

.vector-4 {
  position: absolute;
  width: 1136px;
  height: 68px;
  top: 2900px;
  left: 140px;
  gap: 0px;
  border: 14px 0px 0px 0px;
  opacity: 0px;
}
.vector-5 {
  position: absolute;
  width: 1136px;
  height: 68px;
  top: 3750px;
  left: 120px;
  gap: 0px;
  border: 14px 0px 0px 0px;
  opacity: 0px;
}

.tickethub {
  position: absolute;
  top: 5050px;
  left: 150px;
}

.ticket-text {
  position: absolute;
  margin-top: -63px;
  margin-left: 50px;
}

.Entertainment {
  position: absolute;
  width: 313px;
  height: 294px;
  top: 3030px;
  left: 180px;
  gap: 0px;
  border-radius: 20px 0px 0px 0px;
  opacity: 0px;
}

.Workshopss {
  position: absolute;
  width: 313px;
  height: 294px;
  top: 3010px;
  left: 586px;
  gap: 0px;
  border-radius: 20px 0px 0px 0px;
  opacity: 0px;
}

.Fests {
  position: absolute;
  width: 98.38px;
  height: 40px;
  top: 3040px;
  left: 1000px;
  gap: 0px;
  opacity: 0px;
}

.sports {
  position: absolute;
  width: 313px;
  height: 300px;
  top: 3420px;
  left: 400px;
  gap: 0px;
  border-radius: 20px 0px 0px 0px;
  opacity: 0px;
}

.Technical {
  position: absolute;
  width: 313px;
  height: 300px;
  top: 3420px;
  left: 787px;
  gap: 0px;
  border-radius: 20px 0px 0px 0px;
  opacity: 0px;
}

.Entertainment-text {
  position: absolute;
  width: 257px;
  height: 44px;
  top: 3297px;
  left: 223px;
  gap: 0px;
  opacity: 0px;
}

.Workshops-text {
  position: absolute;
  width: 202px;
  height: 44px;
  top: 3297px;
  left: 674px;
  gap: 0px;
  opacity: 0px;
}

.Fests-text {
  position: absolute;
  width: 91px;
  height: 44px;
  top: 3297px;
  left: 1094px;
  gap: 0px;
  opacity: 0px;
}

.sports-text {
  position: absolute;
  width: 120px;
  height: 44px;
  top: 3680px;
  left: 484px;
  gap: 0px;
  opacity: 0px;
}

.Technical-text {
  position: absolute;
  width: 329px;
  height: 44px;
  top: 3680px;
  left: 819px;
  gap: 0px;
  opacity: 0px;
}

.dotes-image {
  position: absolute;
  width: 452px;
  height: 305px;
  top: 3470px;
  left: -42px;
  color: #413d3b80;
}

.star-image {
  position: absolute;
  width: 415px;
  height: 415px;
  top: 2721px;
  left: 1198px;
  gap: 0px;
  opacity: 0px;
}

/* footerpage */

.book-now {
  position: absolute;
  top: 4865px;
  left: 448px;
}

.background-card {
  position: absolute;
  width: 1440px;
  height: 797px;
  top: 4946px;
  left: 40px;
  gap: 0px;
  opacity: 0px;
}

.footer-text {
  width: 396.14px;
  height: 40px;
  top: 5413px;
  left: 1072.86px;
  gap: 0px;
  opacity: 0px;
  font-family: Poppins;
  font-size: 32px;
  font-weight: 600;
  line-height: 48px;
  letter-spacing: 0.05em;
  text-align: left;
}

.home {
  position: absolute;
  width: 102.35px;
  height: 40px;
  top: 5181px;
  left: 157px;
  gap: 0px;
  opacity: 0px;
}

.Search-city {
  position: absolute;
  width: 256.37px;
  height: 40px;
  top: 5181px;
  left: 558.12px;
  gap: 0px;
  opacity: 0px;
}

.Payment-policy {
  position: absolute;
  width: 278.24px;
  height: 40px;
  top: 5181px;
  left: 1072.86px;
  gap: 0px;
  opacity: 0px;
}

.Explore {
  position: absolute;
  width: 140.11px;
  height: 40px;
  top: 5239px;
  left: 157px;
  gap: 0px;
  opacity: 0px;
}

.search-events {
  position: absolute;
  width: 317.98px;
  height: 40px;
  top: 5239px;
  left: 558.12px;
  gap: 0px;
  opacity: 0px;
}

.Workshops {
  position: absolute;
  width: 205.7px;
  height: 40px;
  top: 5239px;
  left: 1072.86px;
  gap: 0px;
  opacity: 0px;
}

.Choose-Category {
  position: absolute;
  width: 316.99px;
  height: 40px;
  top: 5297px;
  left: 157px;
  gap: 0px;
  opacity: 0px;
}

.Wishlist {
  position: absolute;
  width: 151.04px;
  height: 40px;
  top: 5297px;
  left: 558.12px;
  gap: 0px;
  opacity: 0px;
}

.Festss {
  position: absolute;
  width: 313px;
  height: 294px;
  top: 5295px;
  left: 1074px;
  gap: 0px;
  border-radius: 20px 0px 0px 0px;
  opacity: 0px;
}

.Upcoming-events {
  position: absolute;
  width: 314.01px;
  height: 40px;
  top: 5355px;
  left: 157px;
  gap: 0px;
  opacity: 0px;
}

.Review {
  position: absolute;
  width: 132.16px;
  height: 40px;
  top: 5355px;
  left: 558.12px;
  gap: 0px;
  opacity: 0px;
}

.Sports {
  position: absolute;
  width: 120.24px;
  height: 40px;
  top: 5355px;
  left: 1072.86px;
  gap: 0px;
  opacity: 0px;
}

.Popular-events {
  position: absolute;
  width: 275.26px;
  height: 40px;
  top: 5413px;
  left: 157px;
  gap: 0px;
  opacity: 0px;
}

.Term-Conditions {
  position: absolute;
  width: 378.6px;
  height: 40px;
  top: 5413px;
  left: 558.12px;
  gap: 0px;
  opacity: 0px;
}

.Technical-course {
  position: absolute;
  width: 293.14px;
  height: 40px;
  top: 5413px;
  left: 1072.86px;
  gap: 0px;
  opacity: 0px;
}

.social-ions {
  position: absolute;
  left: 157px;
  top: 5550px;
  word-spacing: 20px;
}

/* CSS for devices with a screen width of greater than or equal to 425 pixels */
/* CSS for mobile devices with screen width between 320px and 425px */
@media only screen and (min-width: 321px) and (max-width: 426px) {
  .banner-img {
    /* Adjust top and left positions for banner image on mobile */
    top: 110px;
    left: 160px !important;
    position: absolute;
  }

  .wing-img {
    /* Adjust left position for wing image on mobile */
    left: 78px;
  }

  .trending-banner {
    /* Adjust left position for trending banner on mobile */
    left: 20px;
  }

  .why-heading {
    /* Adjust width and padding-top for why-heading on mobile */
    width: 600px;
    padding-top: 25px;
    left: 795px;
  }
  .why-banner {
    left: 20px;
  }
  .background-card {
    left: 20px;
  }
  .social-ions {
    width: 100%;
  }
}

/* CSS for devices with a screen width between 426 and 768 pixels */
/* CSS for Tablet */
@media only screen and (min-width: 424px) and(max-width: 768px) {
  .banner-img {
    left: 160px;
    position: absolute;
  }

  .wing-img {
    left: 78px;
  }

  .trending-banner {
    left: 20px;
  }

  .why-heading {
    width: 540px;
    padding-top: 25px;
  }

  .why-banner {
    left: 10px;
  }
  .background-card {
    left: 10px;
  }
}

/* CSS for devices with a screen width between 768 and 1024 pixels */
/* CSS for Laptop 1024px */
@media only screen and (min-width: 768px) and (max-width: 1024px) {
  .banner-img {
    top: 110px;
    left: 160px;
    position: absolute;
  }

  .wing-img {
    left: 78px;
  }

  .trending-banner {
    left: 20px;
  }

  .why-heading {
    width: 540px;
    padding-top: 25px;
  }
  .why-banner {
    left: 10px;
  }
  .background-card {
    left: 10px;
  }
}

/* CSS for devices with a screen width between 1025 and 1440 pixels */
/* CSS for Laptop 1024px */
@media only screen and (min-width: 1025px) and (max-width: 1440px) {
  .banner-img {
    top: 110px;
    left: 160px;
    position: absolute;
  }

  .wing-img {
    left: 78px;
  }

  .trending-banner {
    left: 20px;
  }

  .why-heading {
    width: 540px;
    padding-top: 25px;
  }

  .why-banner {
    left: 10px;
  }

  .background-card {
    left: 10px;
  }
}






/* slider code home page  */


  
.carousel {
  overflow: hidden;
  max-width: 100%;
}

.slide {
  display: flex;
  column-gap: 16px;
  transform-style: preserve-3d;
  -webkit-transform-style: preserve-3d;
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
}

/* img {
  width: 100%;
} */

.single-img {
position: relative;
width: 30%;
float: left;
margin: 0 1%;
}

.image {
display: block;
width: 100%;


}

.img-overlay {
position: absolute;
bottom: 0;
left: 0;
right: 0;
background-color: #1e1e1fcc;
overflow: hidden;
width: 100%;
height: 0;
transition: .5s ease;
}

.single-img:hover .img-overlay {
height: 100%;
}

.text {
position: absolute;
top: 50%;
left: 50%;
width: 100%;
-webkit-transform: translate(-50%, -50%);
-ms-transform: translate(-50%, -50%);
transform: translate(-50%, -50%);
color: #fff;
text-align: center;
font-size: 20px;
font-family: poppins;
text-transform: uppercase;
letter-spacing: 2px;
font-weight: bold;
}
.text span{
font-weight: 300;
}





.button{
border: none;
font-size: 16px;
color: #FFF;
padding: 8px 16px;
background-color: #d8d82f;;
border-radius: 6px;
margin: 14px;
cursor: pointer;
transition: all 0.3s ease;
}


.single-img {
position: relative;
width: 100%;
max-width: 500px; 
margin: 0 auto;
}

.single-img .image{
width: 100%;
height: auto;
display: block;
aspect-ratio:  7/ 9; 
} 


/* slider code end  */